* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    scroll-behavior: smooth;
}

/* Navigation Styling */
.navbar {
    width: 100vw;
    padding: 10px 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.logo img {
    height: 45px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    list-style: none;
    font-weight: bold;
}

.nav-links li a {
    text-decoration: none;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-icons li {
    list-style: none;
    cursor: pointer;
}

/* Hero Section Styling */
.hero {
    height: 90vh;

    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.hero-text {
    width: 650px;
    height: 55%;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.hero-title-span {
    color: #fac131;
}

.hero-description {
    height: 200px;
    margin-left: 40px;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.order-btn {
    padding: 10px 20px;
    background-color: #fac131;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.hero-image {
    position: absolute;
    right: 50px;
}

/* About Section Styling */
.about {
    height: 90vh;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    position: relative;
}

.about-image {
    width: 800px;
    position: absolute;
    left: 40px;
}

.about-image img {
    width: 100%;
}

.about-text {
    width: 650px;
    height: 55%;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.about-title-span {
    color: #fac131;
}

.about-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.about-description {
    height: 200px;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

/* Menu Section Styling */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.menu-title-span {
    color: #fac131;
}

.menu-container {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.menu-card {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-image {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}

.menu-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.menu-card-title {
    font-weight: bold;
    color: #fac131;
}

.menu-card-description {
    font-weight: 500;
    width: 90%;
}

.menu-card-price {
    font-weight: bolder;
}

.menu-card-rating {
    display: flex;
    align-items: center;
}

.menu-card-btn {
    padding: 10px 40px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* Gallery Section Styling */
.gallery {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gallery-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.gallery-title-span {
    color: #fac131;
}

.gallery-container {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery-image {
    width: 100%;
}

/* Customer Review Section Styling */
.customer-review {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.customer-review-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.customer-review-title-span {
    color: #fac131;
}

.customer-review-container {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.customer-review-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}

.customer-review-image-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-review-image {
    height: 100%;
    border-radius: 100px;
}

.customer-review-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Order Now Form Styling */
.order-now {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 200px;
}

.order-now-title {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}

.order-now-title-span {
    color: #fac131;
}

.order-now-container {
    height: 90vh;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    position: relative;
}

.order-now-image-container {
    width: 600px;
    position: absolute;
    left: 40px;
}

.order-now-image-container img {
    width: 100%;
}

.order-now-form {
    width: 650px;
    height: 55%;
    margin-right: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.order-now-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-now-input label {
    font-weight: bold;
}

.order-now-input input {
    padding: 10px;
}

.order-now-btn {
    max-width: 150px;
    font-size: 1rem;
    background-color: #fac131;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* Our Team Section Styling */
.our-team {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.our-team-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.our-team-title-span {
    color: #fac131;
}

.our-team-container {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.our-team-image-container {
    width: 100%;
    height: 300px;
    border-radius: 50%;
    border: 5px solid gray;
    padding: 20px;
}

.our-team-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* Footer Section Styling */
.footer {
    width: 100%;
    background-color: #EEEEEE;
    margin-top: 350px;
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    text-align: center;
}

.footer-container h4 {
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer-container ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-container li {
    list-style: none;
}

.footer-container li a {
    text-decoration: none;
}

#footer-list-icons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-design-by {
    text-align: center;
}

.footer-design-by span {
    color: #fac131;
    font-weight: bolder;
}










